/* Post body text size */
.post-content {
    font-size: 1rem; /* Default is ~1rem. Adjust as needed */
    line-height: 1.5;
}
.post-content h1 {
	font-size: 1.5rem;
	line-height: 1.3;
}

.post-content h2 {
	font-size: 1.25rem;
	line-height: 1.3;
}

/* Table of Contents (TOC) container title */
.toc h2, .toc details summary, .toc a {
    font-size: 0.8rem;
	line-height: 1;
}

.post-title {
    font-size: 2rem; /* Default is ~2.5rem. Adjust as needed */
    line-height: 1.3;
}

/* Post titles on homepage and list/category pages */
.entry-header h2,
.entry-title {
    font-size: 1.4rem; /* Controls preview titles on list pages */
}

/* 調整電腦端頁面與文章內文的最大寬度 */
:root {
    --main-width: 900px; /* 預設約為 720px，可依喜好調整為 850px ~ 1000px */
}

/* 確保文章內文區塊填滿調整後的寬度 */
.post-content,
.post-header {
    max-width: var(--main-width);
}