/* Post body text size */
.post-content {
    font-size: 0.9rem; /* Default is ~1rem. Adjust as needed */
    line-height: 1.3;
}
.post-content h1 {
	font-size: 1.5rem;
	line-height: 1.3;
}

.post-content h2 {
	font-size: 1.25rem;
	line-height: 1.3;
}

/* Table of Contents (TOC) container title */
.toc h2, .toc details summary, .toc a {
    font-size: 0.8rem;
	line-height: 1;
}

.post-title {
    font-size: 2rem; /* Default is ~2.5rem. Adjust as needed */
    line-height: 1.3;
}

/* Post titles on homepage and list/category pages */
.entry-header h2,
.entry-title {
    font-size: 1.4rem; /* Controls preview titles on list pages */
}