/* Post body text size */
.post-content {
    font-size: 0.9rem; /* Default is ~1rem. Adjust as needed */
    line-height: 1.5;
}
.post-content h1 {
	font-size: 1.5rem;
	line-height: 2;
}

.post-content h2 {
	font-size: 1.25rem;
	line-height: 2;
}

/* Table of Contents (TOC) container title */
.toc h2, .toc details summary, .toc a {
    font-size: 0.8rem;
	line-height: 1;
}